.button {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-in;
    user-select: none;
}
.button:disabled{
    opacity: 0.5;
    cursor: default;
}

.button_filled {
    border: none;
    background-color: var(--primary-default);
}
.button_filled:hover {
    background-color: var(--primary-hover);
}

.button_outlined {
    border: 1px solid var(--frame-stroke);
    background-color: none;
    color: black;
}
.button_outlined:hover {
    border-color: var(--tonal);
    background-color: var(--tonal);
}

.button_text {
    background-color: none;
    color: black;
}
.button_text:hover {
    background-color: var(--tonal);
}


.button_small {
    border-radius: 16px;
    height: 32px;
    padding: 0px var(--p3);
    gap: 8px;
    font-size: var(--font_label_m);
}
.button_medium {
    border-radius: 24px;
    height: 48px;
    gap: 8px;
    padding: 0px var(--p4);
    font-size: var(--font_label_l);
}
