.auth_page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.image_community {
    position: absolute;
    top: 0px;
    right: var(--p3);
}
.image_teacher {
    position: absolute;
    bottom: var(--p4);
    left: var(--p4);
}
@media (min-width: 1440px){
    .form_frame {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .scenery_frame {
        display: none;
    }
}
@media (min-width: 1600px){
    .form_frame {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    
    .scenery_frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        gap: 48px;
        background: var(--background-color) 5%;
    }
}

.form {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 24px;
    padding: var(--p6);
    width: 600px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 10%);
    border-radius: 24px;
    background-color: #FFF;

}

.form_group {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.form_header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}