.container {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.grid_left_col {
  position: sticky;
  top: 0;
  max-height: 100vh;

}
.grid_right_col {
  background-color: var(--background-color);
}

@media (min-width: 1440px) {
  .grid_right_col {
  }
}

@media (min-width: 1600px) {
  .grid_right_col {
  }
}
